name: Deployement Exercise 1
on: push
jobs:
  deploy:
   runs-on: ubuntu-latest
   steps:
     - name: Get code
       uses: actions/checkout@v4
     - name: Install dependencies
       run: npm ci
     - name: Lint
       run: npm run Lint
     - name: test code
       run: bpm run test
     - name: Build code
       run: npm run Build
     - name: Deploy code
       run: echo "Code Deploying"


    

    
